@import "components/CharacterCard/CharacterCard.css";
@import "components/SearchBar/SearchBar.css";
@import "components/NavButton/NavButton.css";
@import "components/NavPagination/NavPagination.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: rgb(51, 51, 51);
  --color-secondary: #f6f6f6;
  --font-family: system-ui;
  --background-color: darkgrey;
}

/* body {
  font-family: var(--font-family);
  color: var(--color-primary);
  padding: 20px;
  background-color: var(--background-color);
} */

body {
  margin: 0;
  min-height: 100vh;
  background-image: url("./assets/Rick&Morty.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  padding: 10px 0;
  text-align: center;
}

.navigation {
  padding: 10px 0;
  margin-bottom: 50px;
}

.button {
  width: 120px;
  height: 60px;
  border: none;
  font-weight: bold;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  text-indent: -9999px;
  border-radius: 10px;
}

/* Rick for Previous */
.button--prev {
  background-image: url("./assets/Rick_Sanchez.webp");
  transform: scaleX(-1);
}

/* Morty for Next */
.button--next {
  background-image: url("./assets/MortyWHY!.jpg");
}

.button--prev,
.button--next {
  position: relative;
  overflow: hidden;
}

.button--prev::before,
.button--next::before {
  content: "";
  position: absolute;
  inset: 0;
}

.button--prev span,
.button--next span {
  position: relative;
  z-index: 1;
}
