.card-container {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 150px;
  row-gap: 20px;
}
.card {
  width: 300px;
  background-color: var(--color-secondary);
  box-shadow: 10px 10px 50px darkslategray;
}

.card__info {
  display: grid;
  grid-template-columns: auto 1fr;
}
.card__content {
  padding: 10px 20px 20px;
  display: grid;
  gap: 20px;
}

.card__info-description {
  text-align: right;
}

li {
  list-style: none;
}
